.center{
    margin:auto;
    width: 50%;
}

.google{
    margin: auto;
    position: relative;
    padding-top: 124px;
    padding-left: 43.25%;
}

.container2{
    position: relative;
    left: 30%;
    width: 745px;
    max-height: 52px;
    border: 1px solid rgb(0, 0, 0)
}

.search{
    padding: 17px 50px;
    position: relative;
    border-radius: 100px;
    width: 745px;
    font-size: 14.5px;
    border: 1px solid rgb(235, 235, 235)
}

input:focus::placeholder{
    color: transparent;
}

.container1{
    position: relative;
    border: 2px solid black;
    width: 200px;
    padding: 10px 25px 10px 10px ;
    margin: auto;
    left: 44%;
}

.gmail{
    border: none;
    background-color:inherit;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

.gmail:hover{
text-decoration: underline;
}

.img{
    position: relative;
    border: none;
    background-color:inherit;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    left: 5%;
}

.img:hover{
    text-decoration: underline;
    }

.mic{
    position: relative;
    display: inline;
    scale: 0.85;
}

.cam{
    position: relative;
    display: inline;
    scale: 0.11;
}

.sign{
    position: relative;
    left: 48.75%;
    top: 50.125%;
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #e4e4e4;
    background-repeat: no-repeat;
}

.in{
    position: relative;
    left: 49%;
    top: 43%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78.75%;
    text-decoration: none;
}

.sign:hover{
    border: 0px solid transparent;
    border-radius: 5%;
    background-color: rgb(224, 224, 224);
    padding: 33px 40px 50px 40px;
    left: 47.255%;
    top: 34.125%;
}

.chrome{
    position: relative;
    left: 42.75%;
    top: 36.125%;
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #e4e4e4;
    background-repeat: no-repeat;
}

.web{
    position: relative;
    left: 42%;
    top: 43%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78.75%;
    text-decoration: none;
}

.chrome:hover{
    border: 0px solid transparent;
    border-radius: 5%;
    background-color: rgb(224, 224, 224);
    padding: 28px 40px 50px 40px;
    left: 41%;
    top: 33.725%;
}

.lookup{
    position: relative;
    scale: 1.25;
}

.plus{
    position: relative;
    left: 54.75%;
    top: 36.35%;
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #b5e1ff;
    background-repeat: no-repeat;
    scale: 1.15;
}

.minus{
    position: relative;
    left: 53.85%;
    top: 43%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78.75%;
    text-decoration: none;
}

.plus:hover{
    border: 0px solid transparent;
    border-radius: 5%;
    background-color: #b5e1ff;
    padding: 24px 40px 50px 40px;
    left: 53%;
    top: 34.725%;
}