body{
    font:normal 30 px Arial, Helevtica, sans-serif;
}

body {
    background-color: #ffffff;
	color: #000000;
}

body .para{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 81.25%;
}

body #hw{
    color: teal;
}